body > header:first-child {
    user-select: none;
}
body > header:first-child > section:first-child > h1 > img {
    width: 48px; height: 48px; vertical-align: middle; margin-right: 8px;
}
@media screen and (max-width:800px) {
    body > header:first-child {
        height: 60px;
    }
    body > header:first-child > section:first-child > h1 + ul {
        display: none;
    }
}
body > section > h2 + section > a.link-long-button > span + span {
    color: #888;
    font-size: 16px;
    margin-left: 16px;
}
section#part-avatar {
    padding: 100px 20px 20px 20px;
    border-top: 1px solid #222;
    border-bottom: 1px solid #333;
}
section#part-avatar > section {
    text-align: center;
    height: 280px;
    user-select: none;
}
section#part-avatar > section:first-child > img {
    background-color: white;
    width: 256px;
    height: 256px;
    border: 8px solid #333;
    border-radius: 160px;
    text-align: center;
    transition: 0.2s;
}
section#part-avatar > section:first-child > img:hover {
    border-radius: 24px;
}
section#part-avatar > h1 {
    font-size: 42px;
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    line-height: 48px;
    height: 50px;
    padding: 0 0 10px 0;
    text-align: center;
}
section#part-avatar > h1 + div {
    color: #888;
    margin-top: 100px;
    width: 100%;
    height: 20px;
    text-align: center;
    cursor: default;
    user-select: none;
}
div#popup-view {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    backdrop-filter: blur(10px);
    background-color: rgba(0,0,0,0.6);
    user-select: none;
    cursor: default;
    z-index: 1000;
}
div#popup-view > div.priority-main, div#popup-view > div.priority-backup {
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 50px;
}
div#popup-view > div.priority-main > img, div#popup-view > div.priority-backup > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
div#popup-view > div.priority-subtitle {
    font-size: 14px;
    height: 48px;
    line-height: 24px;
    text-align: center;
    text-shadow: 0 0 4px black;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2px;
}
div#popup-view > div.priority-subtitle > strong {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
}
section > div.x-copyright-spec {
    color: #F9F9F9; text-align: center; width: 220px; position: absolute; top: 40px; left: 0;
}
section > div.x-copyright-spec > img:first-child {
    width: 220px; height: 220px; border-radius: 6px; 
}
