body > header:first-child {
    user-select: none;
}
body > header:first-child > section:first-child > h1 > img {
    width: 48px; height: 48px; vertical-align: middle; margin-right: 8px;
}
body > header:first-child > section:first-child > h1 > img:hover {
    width: 50px; height: 50px; vertical-align: middle; margin-right: 6px;
}
body > header:first-child > section:first-child > h1 > img:first-child + a > strong:first-child + span {
    font-weight: lighter;
}
body > footer > section > div.x-copyright > img:first-child + span + span {
    font-size: 12px; line-height: 18px; text-align: center; height: 18px; padding-right: 1px; display: block; cursor: default;
}
button.x-button-link {
    color: #EEE;
    background-color: #333;
    padding: 8px 16px;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(128, 128, 128, 0.2) rgba(128, 128, 128, 0.1) rgba(128, 128, 128, 0.1) rgba(128, 128, 128, 0.1);
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
    user-select: none;
}
button.x-button-link:hover {
    background-color: #444;
    border-color: rgba(128, 128, 128, 0.4) rgba(128, 128, 128, 0.2) rgba(128, 128, 128, 0.2) rgba(128, 128, 128, 0.2);
    transition: 0.1s;
}
button.x-button-link > span {
    vertical-align: middle;
}
button.x-button-link > span + img {
    width: 16px; height: 16px; vertical-align: middle; margin-left: 8px;
}
body > section.x-part-content > section > a.link-long-button > span + span,
body > section.x-part-content > section.link-tile-wide > a > span + span,
body > section.x-main-container > section > a.link-long-button > span + span {
    color: #888;
    font-size: 16px;
    margin-left: 16px;
}
body > section.x-part-content > section.x-part-subtitle {
    color: #888;
    margin-bottom: 10px;
    user-select: none;
}
body > section.x-part-content > section.x-part-subtitle + section {
    margin-top: 10px;
}
section#part-avatar {
    padding: 100px 20px 20px 20px;
    border-top: 1px solid #222;
    border-bottom: 1px solid #333;
}
section#part-avatar > section {
    text-align: center;
    height: 280px;
    user-select: none;
}
section#part-avatar > section:first-child > img {
    background-color: white;
    width: 256px;
    height: 256px;
    border: 8px solid #333;
    border-radius: 160px;
    text-align: center;
    transition: 0.2s;
}
section#part-avatar > section:first-child > img:hover {
    border-radius: 24px;
}
section#part-avatar > h1 {
    font-size: 42px;
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    line-height: 48px;
    height: 50px;
    padding: 0 0 10px 0;
    text-align: center;
}
section#part-avatar > h1 + div {
    color: #888;
    margin-top: 100px;
    width: 100%;
    height: 20px;
    text-align: center;
    cursor: default;
    user-select: none;
}
div#popup-view {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    backdrop-filter: blur(10px);
    background-color: rgba(0,0,0,0.6);
    user-select: none;
    cursor: default;
    z-index: 1000;
}
div#popup-view > div.priority-main, div#popup-view > div.priority-backup {
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 50px;
}
div#popup-view > div.priority-main > img, div#popup-view > div.priority-backup > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
div#popup-view > div.priority-subtitle {
    font-size: 14px;
    height: 48px;
    line-height: 24px;
    text-align: center;
    text-shadow: 0 0 4px black;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2px;
}
div#popup-view > div.priority-subtitle > strong {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
}
section > div.x-copyright-spec {
    color: #F9F9F9; text-align: center; width: 220px; position: absolute; top: 40px; left: 0;
}
section > div.x-copyright-spec > img:first-child {
    width: 220px; height: 220px; border-radius: 6px; 
}
section.x-container-pics {
    margin: 20px auto;
    display: grid;
    gap: 6px;
    grid-template-columns: repeat(6, 1fr);
    user-select: none;
}
section.x-container-pics > img {
    background-color: #333;
    width: 100%;
    aspect-ratio: 1.333;
    margin: 0;
    border-radius: 4px;
    object-fit: cover;
    transition: 0.2s;
    cursor: pointer;
}
section.x-container-pics.x-image-ratio-p > img {
    aspect-ratio: 0.707;
}
section.x-container-pics.x-image-ratio-h > img {
    aspect-ratio: 0.75;
}
section.x-container-pics.x-image-ratio-s > img {
    aspect-ratio: 1;
}
section.x-container-pics.x-image-ratio-w > img {
    aspect-ratio: 1.777;
}
section.x-container-pics > img:hover {
    filter: contrast(1.2);
    scale: 1.02;
}
section.x-container-pics + section {
    margin-top: 0;
}
section.x-container-pics span#section-works-more {
    color: #CCC;
    line-height: 30px;
    text-align: center;
    height: 30px;
    background-color: #F5B;
    border-radius: 4px;
    display: block;
    transition: 0.2s;
    user-select: none;
    cursor: pointer;
}
section.x-container-pics span#section-works-more:hover {
    color: #EEE; background-color: #F7C;
}
section.x-container-pics span#section-works-more:active {
    color: #CCC; background-color: #C6B;
}
section.x-container-pics span#section-works-more > span:first-child {
    vertical-align: baseline;
}
section.x-container-pics span#section-works-more > span:first-child + img {
    width: 12px; height: 12px; margin-left: 10px; vertical-align: middle; opacity: 0.8; transition: 0.2s;
}
section.x-container-pics span#section-works-more:active > span:first-child + img {
    opacity: 1;
}
section.x-container-pics span#section-works-more:active > span:first-child + img {
    width: 8px; height: 8px; opacity: 0.8;
}
span.x-text-cap-small {
    font-variant-caps: small-caps;
}
@media screen and (max-width:1110px) {
    section.x-container-pics {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (max-width:860px) {
    section.x-container-pics {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width:560px) {
    section.x-container-pics {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width:320px) {
    section.x-container-pics {
        grid-template-columns: 1fr;
    }
}
